header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
}

.inicio {
    text-align: center;
    padding: 100px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    height: 100vh;
}

.inicio h1 {
    font-size: 4rem;
    font-weight: 700;
}
body{
    background-image: url(../imagens/manifesto1870.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}
.card1870 p {
    color: #555;
    font-size: 26px;
    margin-bottom: 20px;
  }
  .card1870 h1 {
    color: #333;
    margin-bottom: 10px;
    font-size: 24px;
  }
  .card1870 {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
  text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-left: 250px;
    margin-top:90px;
  
  }