* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

html {
    scroll-behavior: smooth;
}

.body1850 {
    background-image: url(../imagens/independencia.webp);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center;
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a:hover {
    color: orange;
}

.card a:hover {
    color: orange;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
}

.inicio {
    text-align: center;
    padding: 100px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    height: 100vh;
    background-image: url(../imagens/independencia.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.inicio h1 {
    font-size: 4rem;
    font-weight: 700;
    color: #ffffff;
}

.timeline {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background-color: #fff;
    width: 140px;
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.card:hover {
    transform: translateY(-10px);
}

.card a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.acontecimentos {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
    padding: 20px 0;
}

.acontecimento {
    width: 32%;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    margin-bottom: 20px;
    height: auto;
}

.acontecimento:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.acontecimento img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
    object-fit: cover;
}

.acontecimento h3,
.acontecimento p {
    color: #333;
}

.destaque {
    width: 35%;
    background-color: #e2e2e2;
    padding: 30px;
}

#galeria {
    padding: 60px 20px;
    color: white;
    text-align: center;
    height: 100vh;
}

.galeria {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.galeria img {
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#contato {
    color: white;
    padding: 60px 20px;
    height: 100vh;
}

footer {
    background-color: #333;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    margin-top: 60px;
}

footer p {
    font-size: 1rem;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

#integrantes {
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.integrantes {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.integrantes img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.integrantes h3 {
    font-size: 1.2rem;
    margin-top: 10px;
    color: white;
}

#referencias {
    width: 300px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 30px;
    background-color: rgba(58, 57, 55, 0.795);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#referencias ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

#referencias li {
    margin: 10px 0;
}

#referencias a {
    color: #0358d8;
    text-decoration: none;
    font-weight: bold;
}